{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block extrascript %}
  <script>
    $(function() {
      $(".carousel").each(function() {
        var _this = this;
        $(this).carousel({
          interval: 0
        });
        $(this).find("img").on("click", function(event) {
          event.preventDefault();
          $(_this).carousel("next");
        });
        $(this).find("img").on("swipeleft", function(event) {
          event.preventDefault();
          $(_this).carousel("next");
        });
        $(this).find("img").on("swiperight", function(event) {
          event.preventDefault();
          $(_this).carousel("prev");
        });
      })
      $("#main-slider figcaption").hover(
        function() {
          $(this).addClass("active");
          $("#main-slider .carousel-control.left").hide();
        },
        function() {
          var _this = this;
          $(this).find(".description").addClass("transition");
          $(this).removeClass("active");
          setTimeout(function () {
            $(_this).find(".description").removeClass("transition");
          }, 100);
          $("#main-slider .carousel-control.left").show();
        }
      );
    });
  </script>
{% endblock extrascript %}

{% block container %}
  <div class="container">
    <nav class="language-menu">
      {% if request.LANGUAGE_CODE == "ru" %}
        <span>RU</span>
        <a href="{% url "set_language" "en" %}?from={{ request.get_full_path|urlencode }}" title="English" rel="external">EN</a>
      {% else %}
        <a href="{% url "set_language" "ru" %}?from={{ request.get_full_path|urlencode }}" title="Russian" rel="external">RU</a>
        <span>EN</span>
      {% endif %}
    </nav>
    {% include "include/slider.html" %}
    <section class="personal-info">
      <div class="col-lg-4 col-md-4 col-xs-4 face">
        <img src="{% static "img/photo.jpg" %}" alt="{% trans "Nadya Kutyreva" %}" class="img-responsive">
      </div>
      <div class="col-lg-8 col-md-8 col-xs-8">
        <h1>{% trans "About Me" %}</h1>
        {% if request.LANGUAGE_CODE == "ru" %}
          {% flatblock "personal-info-ru" %}
        {% else %}
          {% flatblock "personal-info" %}
        {% endif %}
        <div class="main-links">
          <ul>
            <li>
              {% trans "Portfolio on" %} <a href="http://www.behance.net/nadezhdanova" target="_blank" title="Behance">{% trans "Behance" %}</a>
            </li>
            <li>
              {% trans "Profile on" %} <a href="http://www.linkedin.com/profile/view?id=116547731" target="_blank" title="LinkedIn">{% trans "LinkedIn" %}</a>
            </li>
          </ul>
        </div>
        <div class="links social">
          <ul>
            <li>
              <a href="http://nadezhdanova.tumblr.com/" target="_blank" title="Tumblr">{% trans "Tumblr" %}</a>
            </li>
            <li>
              <a href="https://twitter.com/nadezhdanova" target="_blank" title="Twitter">{% trans "Twitter" %}</a>
            </li>
            <li>
              <a href="http://instagram.com/nadezhdanova" target="_blank" title="Instagram">{% trans "Instagram" %}</a>
            </li>
            <li>
              <a href="http://www.facebook.com/nadya.kutyreva" target="_blank" title="Facebook">{% trans "Facebook" %}</a>
            </li>
            {% if request.LANGUAGE_CODE == "ru" %}
              <li>
                <a href="http://vk.com/nadezhdanova" target="_blank" title="vKontakte">вконтакте</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </section>
  </div>
  <section class="principles-of-creativity">
    <div class="container">
      <h1>{% trans "Art code" %}</h1>
      <div class="wrapper">
        <div class="col-lg-4">
          <p>
            {% blocktrans %}I create space for living and working. Considered layout is the base, which organizes the living in an interior.{% endblocktrans %}
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            {% blocktrans %}Interior isn’t an album with pictures and blueprints and not a building site. It is comfortable and attractive environment for your family. It is everything that is surrounded by walls, and what is outside them as well.{% endblocktrans %}
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            {% blocktrans %}Design is a tool for practical solution of a given task. And do not accept design for design as a functionalist.{% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </section>
  {% if tumblr_posts %}
    <section class="tumblr-posts container">
      <h1>
        <a href="{% if request.LANGUAGE_CODE == "ru" %}http://nadezhdanova.tumblr.com{% else %}http://nadezhdanova-eng.tumblr.com{% endif %}">
          {% trans "Blog" %}
        </a>
      </h1>
      <div class="wrapper row">
        {% for post in tumblr_posts %}
          <div class="col-lg-4">
            <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
            <p>{{ post.text|truncatewords:25 }}</p>
          </div>
        {% endfor %}
    </section>
  {% endif %}
  <div class="container">
    {% if activities %}
      <section class="public-activities">
        <h1>{% trans "Public projects" %}</h1>
        <p>
          {% blocktrans %}I can talk hours about architecture, design, and projecting process. In that way I am doing a few projects to develop the architectural community in Chelyabinsk. My friends help me in those activities.{% endblocktrans %}
        </p>
        <div class="activities">
          {% for activity in activities %}
            <div class="activity col-lg-6">
              <h2>{{ activity.title }}</h2>
              <section id="activity-{{ activity.id }}" class="carousel slide">
                <div class="carousel-inner">
                  {% for activity_slide in activity.slides.all %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                      <figure>
                        {% thumbnail activity_slide.image "590" format="PNG" as activity_image %}
                          <img src="{{ activity_image.url }}" class="img-responsive" draggable="false">
                        {% endthumbnail %}
                      </figure>
                    </div>
                  {% endfor %}
                </div>
                <ol class="carousel-indicators">
                  {% for slide in activity.slides.all %}
                    <li data-target="#activity-{{ activity.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}>
                      <span></span>
                    </li>
                  {% endfor %}
                </ol>
                <!-- Controls -->
                <a class="left carousel-control" href="#activity-{{ activity.id }}" data-slide="prev">
                  <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#activity-{{ activity.id }}" data-slide="next">
                  <span class="icon-next"></span>
                </a>
              </section>
              <div>{{ activity.text|safe }}</div>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}
    <section class="super-important-thing">
      <span class="owl"></span>
    </section>
  </div>
{% endblock container %}
