.installed.cfg

*.orig
*.pyc
*.pyo
*.db

bin/
downloads/
eggs/
develop-eggs/
parts/
log/

project/sitestatic/
project/media/
project/settings/development.py
project/settings/production.py

.DS_Store

/src/
/.mr.developer.cfg
