@import "../base";

h1 {
  margin-bottom: 30px;
}

.language-menu {
  margin-bottom: 20px;
  text-align: right;

  span, a {
    font-weight: 300;
    font-size: 17px;
  }

  span {
    color: @dark_link_color_active;
  }
  a {
    color: @dark_link_color;
    text-decoration: none;
    border-bottom: 1px solid #000000;

    &:hover, &.selected {
      color: @dark_link_color_active;
      border: none;
    }
  }
}

section.personal-info {
  margin-top: 80px;
  margin-bottom: 50px;

  .col-lg-4 {
    padding-left: 0;
  }
  .col-lg-8 {
    padding-right: 0;
  }
  .face {
    margin-top: 20px;

    & + div {
      margin-top: 20px;
    }
  }
  h1 {
    margin-top: -3px;
    margin-bottom: 10px;
  }
  .flatblock {
    padding-right: 22px;
    line-height: 1.6
  }
  .main-links {
    margin-top: 15px;

    ul {
      margin: 0;
      list-style-type: none;

      li {
        padding: 5px 0;

        .default_link
      }
    }
  }
  .links.social {
    display: block;
    margin-top: 20px;

    ul {
      margin: 0;
      list-style-type: none;

      li {
        display: inline-block;

        .default_link;
        a {
          margin-right: 20px;
          font-size: 13px;
        }
      }
    }
  }
  .clearfix;
}

section.principles-of-creativity {
  margin-bottom: 30px;
  padding-top: 10px;
  background: url("../../img/stripes.png");

  .container {
    padding-bottom: 18px;
  }

  .wrapper {
    background: url("../../img/coffee.png") right bottom no-repeat;
    padding-bottom: 15px;

    .col-lg-4:first-child {
      padding-left: 0;
    }
    .col-lg-4:last-child {
      padding-right: 0;
    }
    .clearfix;
  }
  h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  p {
    font-size: 17px;
    font-weight: 300;
    vertical-align: top;
  }
  .clearfix;
}

section.tumblr-posts {
  margin-bottom: 30px;

  .wrapper {
    margin-left: -25px;
    margin-right: -25px;
    padding: 25px 0 15px;
    border: 2px dashed @dark_link_color_active;

    .col-lg-4:first-child {
      padding-left: 25px;
    }
    .col-lg-4:last-child {
      padding-right: 25px;
    }
    .clearfix;
  }
  h1 {
    margin-bottom: 30px;
  }
  p {
    padding-top: 10px;
  }
  .default_link;
  .clearfix;
}

section.public-activities {
  color: @dark_text_color;

  .activity {
    &.col-lg-6:nth-child(odd) {
      padding-left: 0
    }
    &.col-lg-6:nth-child(even) {
      padding-right: 0
    }
    .slide + div {
      margin-top: 35px;
    }
    .default_link;
  }
  .clearfix;
}

section.super-important-thing {
  margin: 50px 0 20px;
  text-align: center;

  span {
    display: inline-block;
    width: 61px;
    height: 61px;
    background: url("../../img/owl.png") center center no-repeat;

    &:hover {
      background: url("../../img/owl-kawaii.png") center center no-repeat;
    }
  }
}

footer {
  .col-lg-6:last-child {
    text-align: right;
  }
}

// Media queries
@media screen and (max-width: 1199px) {
  .carousel-indicators {
    display: none;
  }

  section.carousel {
    figcaption {
      padding-right: 0;
    }
  }

  section.personal-info {
    margin-top: 45px;
  }

  section.principles-of-creativity .wrapper {
    padding-bottom: 35px;

    .col-lg-4 {
      padding-left: 0;

      p {
        margin-bottom: 20px;
      }
    }
  }
  section.tumblr-posts .wrapper {
    .col-lg-4 {
      padding-left: 25px;
    }
  }
  section.public-activities .activity.col-lg-6 {
    padding-left: 0;
    padding-right: 0;

    .slide + div {
      margin-top: 10px;
    }

    figure {
      text-align: center;

      img {
        display: inline-block;
      }
    }
  }
  footer .col-lg-6 {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #main-slider figcaption {
    width: 60%;
  }
}

.phone_styles {
  header {
    height: auto;

    nav {
      text-align: left;

      h1 {
        width: 100%;
        margin-bottom: 0;

        html[lang="en"] {
          font-size: 19px;
        }
      }
      .email-me {
        display: block;
        float: left;
        margin: 10px 0;
      }
    }
  }
  .language-menu {
    text-align: left;
    margin-bottom: 10px;
  }
  #main-slider {
    figcaption {
      display: none;
    }
  }
  section.personal-info {
    margin-top: 35px;

    .face {
      display: none;

      & + div {
        width: 100%;
        padding-left: 0;

        .flatblock {
          padding-right: 0;
        }
      }
    }
  }
}

// iPhone 5
@media screen and (device-aspect-ratio: 40/71) {
  .phone_styles;
}

// iPhone < 5
@media screen and (device-aspect-ratio: 2/3) {
  .phone_styles;
}

@media screen and (max-width:480px) {
  .phone_styles;
}
