<p>
  I like art, science and techological progress. I’ve chosen architecture because they meet and mix in it.
</p>
<p>
  Professional interests: wooden architecture, ergonomics, parametric and generative design, contemporary design, history of design, sustainability.<br />
  I like working with wood, because it is very warm, humane and expressionistic material.<br />
  My artistic dream is to design a house, where everything from architecture to furniture will be created by myself.
</p>
<p>
  Education<br />
  I've graduated from South Ural State University (Chelyabinsk, Russia) in 2008.<br />
  Architectural faculty, department of Architectural Environmental Design,<br />
  degree of a specialist.
</p>
<p>
  Experience<br />
  independent designer since 2004<br />
  art-director of Art Group Design-Cafe from 2008 to 2012<br />
  I live in San Francisco, CA.
</p>
