<p>
	Люблю искусство, науку и технический прогресс. Поэтому выбрала профессию, которая объединяет их.
</p>
<p>
  Профессиональные интересы: деревянная архитектура, эргономика,  параметрическая архитектура, современный дизайн, история дизайна, устойчивое развитие.
</p>
<p>
  Любимый материал — дерево. Это очень тёплый, человечный и выразительный материал.<br />
  Архитектурная мечта — построить дом, в котором всё: от архитектуры до мебели — будет спроектировано мной.
</p>
<p>
  Образование:<br />
  в 2008 году окончила Южно-Уральский Государственный Университет, архитектурный факультет, кафедру дизайна архитектурной среды <br />
  степень: специалист
</p>
<p>
  Опыт работы:<br />
  работаю с 2004 как независимый дизайнер <br />
  c 2008 по 2012 год руководила творческой группой Дизайн-кафе<br />
  Живу в Челябинске, Россия.
</p>
