header {
  height: 85px;
  color: @dark_text_color;

  nav {
    margin-top: 7px;
    vertical-align: middle;
  }

  a {
    color: @dark_link_color;

    &:hover {
      color: @dark_link_color_active;
      border-color: @dark_link_color_active;
    }
  }

  h1 {
    display: inline-block;
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 1px;

    span {
      display: block;
      width: 350px;
      margin-top: -5px;
      margin-left: -3px;
      font-size: 38px;
      letter-spacing: 1.5px;
    }
  }
  .email-me {
    margin-top: 20px;
    float: right;
    font-weight: lighter;
    font-size: 19px;
    border-bottom: 1px solid @dark_link_color;
  }
}
