@import "variables";

figure {
  position: relative;

  figcaption {
    position: absolute !important;
    top: calc(100% - 25px - 40px);
    left: 0;
    bottom: 25px;
    padding-left: 0 !important;
    cursor: pointer;
    z-index: 2;
    transition: all 0.7s ease-in-out;

    margin-right: 50px;

    &.active {
      top: 0;
      bottom: 0;

      .inner {
        height: 100%;
        padding-top: 45px;
        padding-bottom: 45px;

        .description {
          opacity: 1;
        }
      }
    }
  }
  .inner {
    display: block;
    height: 40px;
    padding: 9px 30px;
    color: $bright_text_color;
    text-align: left;
    background: rgba(0, 0, 0, .60);
    transition: height 0.7s ease-in-out 0.3s, padding-top 0.7s ease-in-out, padding-bottom 0.7s ease-in-out;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 18pt;
      font-weight: 100;
      line-height: 1;
      letter-spacing: 2px;
    }
    .description {
      opacity: 0;
      margin-top: 30px;
      transition: opacity 0.5s ease-in-out 0.6s;

      &.transition {
        transition: opacity 0.3s ease-in-out;
      }

      p, div {
        line-height: 1.8;
        font-size: 15px;
        font-weight: 300;
      }
      p:nth-child(-n+2) {
        font-size: 12px;
        line-height: 1.5;
      }
      p:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }
}

.container .carousel-control {
  background: none;
}
.carousel-indicators {
  width: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;

  li {
    width: auto;
    height: auto;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 0;

    &.active {
      width: auto;
      height: auto;

      span {
        background: #E0E0E0;
        border-color: #E0E0E0;
        margin: -11px 1px 0;
      }
    }
    span {
      display: block;
      width: 10px;
      height: 10px;
      cursor: pointer;
      border: 1px solid #666666;
      border-radius: 50%;
      background: #666666;
    }
  }
}
